<!-- Kode hentet fra forelesning -->

{% extends "base.html" %}

{% block body %}
{% if oppslag %}
<div>
    <h3>Confirm delete oppslag {{ oppslag.tittel }}</h3>

    <form method="post" action="/delete">
        <p><button type="submit" class="btn btn-primary">Delete</button></p>
        <input type="hidden" name="id" value={{ oppslag.id }} />
    </form>
    {% endif %}
    <script>
        document.write('<a href="' + document.referrer + '">Back</a>');
    </script>
</div>
{% endblock %}