<!-- Kode hentet fra forelesning -->

{% extends "base.html" %}

{% block body %}
<div class="container">
    <h3>Update oppslag</h3>
    <form action="{{url_for('update')}}" method="post">
        <div>
            {{ form.tittel.label }}
            {{ form.tittel(size=32) }}<br>
            {% for error in form.tittel.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.ingress.label }}
            {{ form.ingress(size=32) }}<br>
            {% for error in form.ingress.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.oppslagstekst.label }}
            {{form.oppslagstekst(size=64)}}
            {% for error in form.oppslagstekst.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.kategori.label }}
            {{form.kategori}}
            {% for error in form.kategori.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        {{ form.id }}
        <p>{{ form.submit() }}</p>
        <script>
            document.write('<a href="' + document.referrer + '">Back</a>');
        </script>
    </form>
</div>
{% endblock %}